Source: f2b
Section: net
Priority: optional
Maintainer: Alex 'AdUser' Z <ad_user@runbox.com>
Build-Depends: debhelper (>= 9), cmake, libpcre3-dev, libhiredis-dev
Standards-Version: 3.9.5
Homepage: https://github.com/AdUser/f2b
Vcs-Git: https://github.com/AdUser/f2b.git
Vcs-Browser: https://github.com/AdUser/f2b

Package: f2b
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lightweight automatic anti-bot turret for your public serivces
 Features:
 .
   * written in pure C
   * small memory footprint
   * minimum dependencies (required: libc, libdl; optional: pcre, redis)
   * fully modular: pluggable sources/filters/backends (you may easy write custom one)
   * support for distributed installs (teamwork)
   * stateful (can save/restore banned ips on restart)
   * adapting to bots (automatically adjust bantime/findtime on rare but steady events from one source)
   * can use not only logfiles, but anything that can give malicious ip: accept(), recv(), pubsub event, pipe
   * may work as honeypot (emulating open tcp ports)
 .
 This package contains daemon, client and basic modules

Package: f2b-mod-pcre3
Architecture: any
Depends: f2b (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: lightweight automatic anti-bot turret for your public serivces
 This package contains filter module that uses pcre3 library

Package: f2b-mod-redis
Architecture: any
Depends: f2b (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: redis-server
Description: lightweight automatic anti-bot turret for your public serivces
 This package contains source and backend modules working with redis-server
