[main]
includes = /etc/f2b/conf-enabled
pidfile = /var/run/f2b.pid
logdest = syslog
loglevel = info
logfile = /var/log/f2b.log
user = root
group = root
daemon = yes

[defaults]
enabled  = no
bantime  = 3600
findtime = 300
expiretime = 14400
incr_bantime = 0.0
incr_findtime = 0.0
maxretry = 5
source   = files:/var/log/messages
; filter = preg:/etc/f2b/filters/$someservice.preg
backend  = exec-ipset:banned

[jail:ssh]
source  = files:/var/log/auth.log
filter  = preg:/etc/f2b/filters/ssh.preg
